*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.container{
  display: flex;
}
.card
{
  height: 300px;
  box-shadow: 5px 5px 20px black;
  margin-top: 30px;

}

.card:hover{
  height: 320px;
  animation-duration: 1s;
  cursor: pointer;
  background: linear-gradient(transparent,#0ef,#0ef,transparent);

 }

.intro p{
  margin-left: 10px;
  margin-top: 20px;
}

.intro h4{
  margin-top: 10px;
  float: right;
  margin-right: 10px;
}

.container-rating{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-btn{
  margin: 8px;
  padding: 0px 10px;
  font-size: 15px;
  font-weight: bold;
  background-color: black;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width:900px){
  
}
