<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contact me</title>
  <link rel="stylesheet" href="form-blog.css" />
  <script src="https://kit.fontawesome.com/5140afd7e2.js" crossorigin=""></script>
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous" />
</head>
<body style="background-image: url(https://images.unsplash.com/photo-1601624749564-fad3d2098ea8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80)!important; background-position: center;background-repeat: no-repeat;background-size: cover;">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img src="../public/image/logo.png" class="navbar-brand logo" href="#" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="testimonials">Testimonials</a>
              </li>
            </ul>
            <div class="d-flex">
                <a href="contact" class="btn btn-dark">Contact Me</a>
            </div>
        </div>
    </div>
</nav>
  <div class="p-3">
    <form class="m-auto" style="max-width: 500px;">
        <h1 class="mb-3 text-center fw-bold" style="color: rgb(155, 67, 143);">GET IN TOUCH</h1>

  <div class="mb-3">
    <label for="name" class="form-label fw-bold" style="color: white;">Name</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label fw-bold" style="color: white;">Email</label>
    <input type="email" class="form-control" id="email" >
  </div>
  <div class="mb-3">
    <label for="Phone" class="form-label fw-bold" style="color: white;">Phone Number</label>
    <input type="number" class="form-control" id="Phone">
  </div>
  <div class="mb-3">
    <label for="input-subject" class="form-label fw-bold" style="color: white;">Subject</label>
    <select class="form-select" id="input-subject" required>
        <option value="" hidden></option>
        <option value="frontend" >Frontend</option>
        <option value="backend" >Backend</option>
        <option value="fullstack" >Fullstack</option>
    </select>
</div>
  
  <div class="mb-3">
    <label for="message" class="form-label fw-bold" style="color: white;">Your Message</label>
    <textarea class="form-control" id="message" style="resize: none;" required></textarea>
</div>
<div class="d-grip gap-2 d-md-flex justify-content-md-end">
  <button type="submit" class="btn btn-dark text-white" onclick="submitData()">
    Submit
  </button>
  </form>
</body>
<script src="/public/js/contact.js"></script>
<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
</html>