<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <script src="https://kit.fontawesome.com/5140afd7e2.js" crossorigin=""></script>
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous" />
      <link rel="stylesheet" href="../public/css/index.css" />
      
</head>

<body style=" background-image: url(https://images.unsplash.com/photo-1495287924875-c158d2e8aafc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80)!important; background-position: center;background-repeat: no-repeat;background-size: cover;">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img src="../public/image/logo.png" class="navbar-brand logo" href="#" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active fw-bold" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold" href="blog">Blog</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold" href="testimonials">Testimonials</a>
              </li>
            </ul>
            <div class="d-flex">

              <a href="form-login" class="btn btn-dark" style="margin-right: 10px;">Login</a>
              <a href="form-register" class="btn btn-dark" style="margin-right: 10px;">register</a>
                <a href="contact" class="btn btn-dark">Contact</a>
            </div>
        </div>
    </div>
</nav>
    <div class=" p-5">
    <div class="container d-flex flex-row m-3">
      {{if .Flash.FlashMessage}}
      {{if .Flash.FlashStatus}}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{.Flash.FlashMessage}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {{else}}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{.Flash.FlashMessage}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {{end}}
      {{end}}
      <div class="card d-flex flex-lg-row flex-sm-column flex-column"  style=" box-shadow: 1px 5px 10px rgba(134, 246, 246, 0.75);" >
      <div class="p-4 align-items-center">
      <h2 style="color:rgb(155, 67, 143) ;">WELCOME TO</h2><h2 class="br" style="color: aqua;">MY HUT</h2>
      <p class="text-sm-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .80rem; background: #000;">
  contact
</button>
<a href="#" class="my-auto" style="text-decoration: none; color: #000000;">download <i class="fa-solid fa-download" style="color: #000000;"></i></a>
<div class="sosmed m-2 fw-light">
  <a href="#"></a>
  <i class="fa-brands fa-facebook" style="font-size: 30px; margin: 7px; color: rgb(155, 67, 143); margin-top: 25px;"></i>
  <a href="#"></a>
  <i class="fa-brands fa-square-instagram"style="font-size: 30px; margin: 7px;color: rgb(155, 67, 143); margin-top: 25px;"></i>
  <a href="#"></a>
  <i class="fa-brands fa-linkedin" style="font-size: 30px; margin: 7px;color: rgb(155, 67, 143); margin-top: 25px;"></i>
  <a href="#"></a>
  <i class="fa-brands fa-youtube" style="font-size: 30px; margin: 7px;color: rgb(155, 67, 143); margin-top: 25px;"></i>
  </div>
</div>  
<div class="card justify-content-center" style="max-width: 100%;">
<img class="card-img-top p-4" src="../public/image/city.jpg"  style="box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.75);" />
<div class="card-body">
  <div class="fw-bold text-center" style="align-self: center;"><H3 style="color: aqua;">Puja Ayu Miswari</H3></div>
  <div class="text-center" style="align-self: center;"><H4>Fullstack Developer</H4></div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="py-4">
  <h1 class="fw-bold text-center" style="color: white;">MY PROJECTS</h1>
  <div class="p-4">
      <div class="row row-cols-md-3 row-cols-sm-2 row-cols-1 g-4 " id="project">
        {{range .Projects}}
        <div class="col" >
          <div class="card" style="box-shadow:5px 5px rgba(17, 17, 17, 1);">
                  <img src="../public/image/city2.jpg" class="img p-4" style="height: 400px;">
                  <div class="card-body">
                      <h5 class="card-title mb-3 fw-bold" name="ProjectName"> <a href="/blog-detail/{{.Id}}">{{.ProjectName}}</h5></a>
                      <div class="mb-2 fw-light"name="Duration">duration: {{.Duration}}</div>
                      <p class="card-text" name="Description">
                       {{.Description}}
                      </p>
                      <div class="project-list-icon d-flex mb-5" id="project-list-icon">
                        {{if .Javascript}}
                        <i class="fa-brands fa-square-js" style="font-size: 20px; margin: 7px;"></i>
                        {{end}}{{if .ReactJs}}
                        <i class="fa-brands fa-react" style="font-size: 20px; margin: 7px;"></i>
                        {{end}}{{if .Golang}}
                        <i class="fa-brands fa-golang" style="font-size: 20px; margin: 7px;"></i>
                        {{end}}{{if .Java}}
                        <i class="fa-brands fa-java" style="font-size: 20px; margin: 7px;"></i>
                        {{end}}
                        </div>
                      <div class="d-flex gap-2" style="width: 100%;">
                        <div class="d-flex gap-2" style="width: 100%;">
                          <form
                          action="/edit-blog/{{.Id}}"
                          method="post">
                          <button  class="btn btn-edit" style="width:100%; background-color:rgb(9, 9, 9); color: white;">edit</button>
                          </form>

                          <form
                          action="/delete-blog/{{.Id}}"
                          method="post"
                          >
                          
                          <button class="btn btn-delete" style="width: 100%; background-color:rgb(9, 9, 9); color: white;">Delete</button>
                          </form>
                        </div>                       
                      </div>
                    </div> 
                  </div>
                </div>
                {{end}}  -->
                      
               <!---<div class="col">
                  <div class="card">
                      <img src="../public/image/sakura.jpg" class="img p-4" style="height: 400px">
                      <div class="card-body">
                          <h5 class="card-title mb-3 fw-bold" name="ProjectName">PROJECT 1</h5>
                          <div class="mb-2 fw-light"name="Duration">duration: 3 Bulan</div>
                          <p class="card-text" name="Description">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, repellat!
                          </p>
                          <div class="d-flex gap-2" style="width: 100%;">
                  
                            <button type="button" class="btn btn-success" style="width:100%;">edit</button>
                            <button type="button" class="btn btn-danger" style="width: 100%;">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>    -->     
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
                <script src="js/index.js"></script>

</body>
</html>