
/*Home styling*/
.card{
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.75) !important;
  
}

.sosmed i{
  width: 40px !important;
  height: 40px !important;
  background: transparent !important;
  font-size: 25px !important;
  color: rgb(38, 122, 129) !important;
  font-weight: bold !important;
  cursor:  pointer !important;
}
.sosmed i:hover{
 color:#0ef !important;
  font-size: 30px !important;
}


@media only screen and (max-width: 600px) {
  body{
    width: 100%;
  }

  .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card{
    flex-direction: column;
    width: 100%;
  }
  .right {
   width: 100%;
   margin-left: 0;
   margin-top: 30px;
  }
  nav {
    width: 100%;
  }
}


@media only screen and (max-width: 1000px) {
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card{
    flex-direction: column;
  }
  .right {
   width: 80%;
   margin-left: 0;
   margin-top: 30px;

  }
  .right img{
    height: 400px;
  }
}


/* PROJECT STYLING */

.edit-button, .delete-button {
  padding: 6px 12px;
  background-color: #0a0a0a !important;
  color: white;
  cursor: pointer;
  width: 40% !important;
  margin: 7px;
}




